/*
 *   Stylesheet for Protech Solutions Website
 *  Authors - Ian Arsenault & Jameson Arsenault
 *  Github - https://github.com/GorgonsMaze/CapstoneProject
 */

/* Raleway Font */
.ralewayThin {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.ralewayBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.ralewayXBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
/* Abel Font */
.abel {
    font-family: 'Abel', sans-serif;
}

/* Titillium Web Font */
.tWeb400 {
    font-family: 'Titillium Web', sans-serif;
    font-weight:300;
}
.tWeb700 {
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;
}
/* Open Sans */
.open-sans3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
}
.open-sans4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000000;
}
.open-sans7 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000000;
}

/* Iconsolata Font -Chat */
.inconsolata {
    font-family: 'Inconsolata', sans-serif ;
}
/* Signature Font -- */
.kristi {
    font-family: 'Kristi', cursive;
}
.signature {
    font-size: 24px;
}
/*******************************************
**      Material Design Icon Styling       *
******************************************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*******************************************
**     Header + Navigation  Styling       *
******************************************/
/* Styling for Fixed Side-nav on large screens */
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 1550px) {
    header, main, footer {
        padding-left: 0;
    }
}/* / fixed side-nav - large screens */

/* Side-nav li divider */
.side-nav .divider {
    margin: 0 0 0 0 !important;
}

.side-nav.fixed {
    margin-top: 64px;
}
nav {
    background-color: #ffffff !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #000 !important;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
nav.nav-wrapper a {
    color: #000;
}
nav .brand-logo {
    color: #000 !important;
}
nav .button-collapse {
    margin-left: 10px !important;
    color: #3b3b3b !important;
}

nav .nav-wrapper {
    padding-right: 20px;
}

.side-nav {
    box-shadow: none !important;
}

@media only screen
and (min-width: 993px)
and (max-width: 1549px) {
    .side-nav.fixed {
        display: none !important;
    }

}
@media only screen
and (max-width: 600px) {
    .side-nav.fixed {
        margin-top: 56px;
    }

}


@media only screen
and (min-width: 1550px) {
    .side-nav.fixed {
        margin-top: 0 !important;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }
    .side-nav.fixed.right-aligned {
        -webkit-transform: translateX(105%);
        transform: translateX(105%);
    }
    .side-nav a {
        padding: 0 16px;
    }
    .side-nav .userView {
        padding: 16px 16px 0;
    }
    .side-nav {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    }
}

@media only screen and (min-width: 1550px) {
    .hide-on-xlarge {
        display: none !important;
    }
}


@media only screen and (min-width: 1550px) {
    nav .brand-logo.center-on-xlarge {
        left: 42%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

/*******************************************
**           About  Styling             *
******************************************/

.Message-Header-Top {
    margin: 30px 0 30px 0;
    font-family: 'Titillium Web', sans-serif;
    /* For fade in on load */
    display: none;

}
.title-top {
    font-size: 22px;
    margin-top: 5px;
    vertical-align: top;
}
.top-dl-btn {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease ;
}
.top-dl-btn:hover {
    color: #2e7d32;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform:scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
}

/*.top-head-btn{
    color: #fff;
    background-color: #009d03;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    margin-top: -10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:300;
}
.top-head-btn:hover {
    color: #fff;
    background-color: #00ca03;
}
.top-head-btn > .top-dl-btn{
    margin-left: 10px;
}*/

.about-section {
    background-color: #ECECEC;
    padding: 30px 0 60px 0;
}
.about-logo-container {
    height:256px;
    width:256px;
}


/*******************************************
**          Product  Styling             *
******************************************/
/* Main section class */
.product-section {

}

/* Div for horizontal card overlay */
.card-img-overlay {
    position: relative;
    display: block;
    overflow: hidden;
}
/* Psuedo element sets an overlay ontop of horizontal card image */
.card-img-overlay:after {
    content: '';
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#horiz-one:hover .card-img-overlay:after {
    background-color: transparent;

}
.image-overl-card {
    display: block;
}
/* IMAGE SCALE
#horiz-one:hover .image-overl-card {
    transform: scale(1.25);
}*/
/*******************************************
**        Testimonials  Styling           *
******************************************/
/* Main section class */
.testimonials-section {
    background-color:#cfd8dc;

}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #417cee;
}

.card-img-container {
    height: 200px;
    width:182px;
}

.test-row {
    margin-bottom: 0 !important;
}


/* First Carousel slide */
.one {
   /* background: url("https://hd.unsplash.com/photo-1467664631004-58beab1ece0d") no-repeat;*/
    background: rgba(205, 222, 255, 0.43) url('../images/images/person1.png') no-repeat left center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: 0 0;
    height: 100%;
}
.one:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(123,181,227,0) 98%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%); */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* Second Carousel slide */
.two {
    /*background: url("https://hd.unsplash.com/photo-1459499362902-55a20553e082") no-repeat;*/
    background: rgba(205, 222, 255, 0.43) url('../images/images/person2.png') no-repeat left center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: 0 0;
    height: 100%;
}
.two:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(123,181,227,0) 98%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%); */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Third Carousel slide */
.three {
    /*background: url("https://hd.unsplash.com/photo-1467664631004-58beab1ece0d") no-repeat;*/
    background:rgba(205, 222, 255, 0.43) url('../images/images/person3.jpeg') no-repeat left center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: 0 0;
    height: 100%;
}

.three:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(123,181,227,0) 98%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%); */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Fourth Carousel slide */
.four {
    /*background: url("https://hd.unsplash.com/photo-1467664631004-58beab1ece0d") no-repeat;*/
    background: rgba(205, 222, 255, 0.43) url('../images/images/person4.jpeg') no-repeat center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100%;


}

.four:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(123,181,227,0) 98%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%); */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Fifth Carousel slide */
.five {
    /*background: url("https://hd.unsplash.com/photo-1467664631004-58beab1ece0d") no-repeat;*/
    background: rgba(205, 222, 255, 0.43) url('../images/images/person5.jpeg') no-repeat left center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: 0 0;
    height: 100%;
}

.five:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(123,181,227,0) 98%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(123,181,227,0) 98%,rgba(125,185,232,0) 100%); */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Save for small device
.carousel {
    display: none !important;
}*/

/* Carousel Indicator Active */
.carousel .indicators .indicator-item.active {
    background-color: rgba(255, 255, 255, 0.19);
    border: 1px solid white;
}
/* Carousel Indicator */
.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.87);
    transition: background-color .3s;
    border-radius: 50%;
}
/* Hover transition of background color on indivator */
.carousel .indicators .indicator-item:hover {
    background-color: rgb(89, 137, 255);
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}

@media only screen and (min-width: 1220px) {
    .carousel {
        height: 500px !important;
    }
}
/* Slide One Quote - Testimonial */
.slider-quotebox1 {
    position: relative;
    left: 50%;
    top: 15%;
    width: 40%;
}
/* Slide Two Quote - Testimonial */
.slider-quotebox2 {
    position: relative;
    left: 6%;
    top: 15%;
    width: 40%;
}
/* Slide Three Quote - Testimonial */
.slider-quotebox3 {
    position: relative;
    left: 63%;
    top: 15%;
    width: 30%;
}
/* Slide Four Quote - Testimonial */
.slider-quotebox4 {
    position: relative;
    left: 3%;
    top: 15%;
    width: 30%;
}
/* Slide Five Quote - Testimonial */
.slider-quotebox5 {
    position: relative;
    left: 10%;
    top: 15%;
    width: 40%;
}


/*.carousel .carousel-item {
    display: none;
    width: 200px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.carousel .carousel-item img {
    width: 100%;
    height:120%;
}*/

/*******************************************
**            Demo  Styling              *
******************************************/
/* Main section class */
.demo-section{
    background-color:#dcedc8;
    height: 1000px;
}

/*******************************************
**          Purchase/Buy  Styling        *
******************************************/
/* Main section class */
.buy-section {
    background-color:#e0f2f1;
    height: 1000px;
}
/*******************************************
**           Contact  Styling             *
******************************************/
/* Main section class */
.contact-section {

}
.card-form {
    margin-top: 0;
    padding: 30px;
    overflow: auto;
}
.send-mail-btn {
    background-color: #388e3c ;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.send-mail-btn:hover {
    background-color: #5e35b1;
}
/* label color */
.input-field label {
    color: #43a047;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #43a047 ;
}
/* Text &  underline color */
.input-field input[type=text] {
    color: #f44336;
    border-bottom: 2px solid #000000;
}
/*  Text & underline focus color*/
.input-field input[type=text]:focus {
    color: #000000;
    border-bottom: 2px solid #80cbc4;
    box-shadow: 0 0 0 0 #80cbc4;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 2px solid #000;
    box-shadow: 0 0 0 0;
}
/* Valid focus color */
.input-field input[type=text]:focus.valid {
    border-bottom: 2px solid #f44336;
    box-shadow: 0 0 0 0 #f44336;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #f44336 ;
}

/* Text Area border size and color on focus */
textarea.materialize-textarea:focus:not([readonly]) {
    color: #000;
    border-bottom: 2px solid #f44336;
    box-shadow: 0 0 0 0 #f44336;
}

/* Text area label color on focus */
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #43a047;
}

/* Text area border and text color when not active/focuses */
textarea.materialize-textarea {
    color: #f44336;
    border-bottom: 2px solid #000000;

}
/*******************************************
**          Google Map  Styling          *
******************************************/
/* Main section class */
.googlemap-section {
    background-color:#ffebee;
    height: 1000px;
}
/*******************************************
**       Developer Team  Styling          *
******************************************/
/* Main section class */
.dev-section {
    background-color:#cfd8dc;
    height: 1000px;
}
/*******************************************
**           Footer  Styling             *
******************************************/
/* Live Chat Modal - Help Center */
.chat-action-icon {
    margin: 5px;
    transition: all .7s ease-in-out;
}
.chat-action-icon > .material-icons:hover{
    transition: all .3s ease-in-out;
    color: #ff0114;
    background-color: #eeeeee;
}


/* Social Media Icons in footer */
.social-icons {
    height: 36px;
    width: 36px;
    background-color: transparent;
    border-radius: 38px;
    border-color: transparent;
    transition: background-color 0.5s ease-in-out;
}
.social-icons:hover {
    background-color: rgba(129, 226, 35, 0.54);
    color: black;
}

.modal-header {
    margin-right: -16px;
}
.modal-content > p.chat-header {
    margin: 0 35px 0 35px !important;
}

.modal-footer >.btn-flat  > i.material-icons{
    vertical-align: middle;
}

.chat-box {
    height: 400px;
    overflow: auto !important;
}
.rep-name {
    color: #02a225;
    font-size: larger;
    text-decoration: underline;
}
.cust-name {
    color: #2196f3;
    font-size: larger;
    text-decoration: underline;
}
div > .chat-box > .card-content {
    overflow-y: scroll!important;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow: hidden!important;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal .modal-footer {
    height: 85px !important;
}

.modal.modal-fixed-footer .modal-content {
    padding-top: 4px;
}

@media only screen
and (min-width: 300px)
and (max-width: 599px) {
    .modal {
        width: 95% !important;
    }
}
@media only screen
and (min-width: 600px)
and (max-width: 993px) {
    .modal {
        width: 75% !important;
    }
}
.card > .card-content > p {
    margin-bottom: 10px !important;
}
input[type=text] {
    margin: 0 0 0;
}

/* Font Awesome Icons in footer (not in use) */
a .fa {
    color: #9edeff;
}
.privacy-link {
    margin-top: 21px;
}

footer.page-footer {
    border-top: 1px solid #c3c3c3;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ffffff;

}
footer.page-footer.container.foot-text h5 p {
    color:#000000;
}

footer.page-footer .footer-copyright {
    color: rgb(1, 1, 1);
    background-color: rgba(51, 51, 51, 0.04);
}

/*
 *    Landing Page Styling
*/

.landing-load {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color: #fff8e1;
}
/* Transition speed for progress bar */
.progress {
    position: relative;
    top: 480px;
    margin-left: auto;
    margin-right: auto;
    height:10px;
    display: block;
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}
/* Top Loading Bar */
.progress-bar-1 {
    float: left;
    height: 100%;
    background-color: #1565c0;
    border-radius: 20px;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s;
}
/* Middle  Loading Bar will dissappear */
.progress-bar-middle {
    float: left;
    height: 100%;
    background-color: #f3930b;
    border-radius: 20px;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s;
}
/* Bottom loading bar */
.progress-bar-2 {
    float: left;
    height: 100%;
    background-color: #43a047 ;
    border-radius: 20px;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s;
}

div .yellow {
    width: 200px;
    height: 100px;
    background-color: yellow;
    transition: transform;
    /* Rotate div
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); */

    /* Animation forwards keeys the animation stuck
       on its stopping point instead of reverting back to 0 */
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    /* Name of transform animation */
    -webkit-animation-name: rotation;
    -moz-animation-name: rotation;
    -o-animation-name: rotation;
    animation-name: rotation;;

    /* How many times the animation will take place */
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    /* Animation display/Timing */
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    /* Duration of animation */
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;

    /* Sets the delay for the transform animation */
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotation  {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(25deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform:rotate(0deg);
    }
    100% {
        -moz-transform:rotate(25deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

